<h2> Supplier Page </h2>

<!-- Table starts here -->
<table id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Share Rate</th>
        <!-- <th> Delete </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{supplier.name}}</td>
        <td>{{supplier.type}}</td>
        <td>{{supplier.shareRate}}</td>
        <!-- <td> <button type="button" (click)="deleteList(list); $event.stopPropagation();">Delete</button></td> -->
      </tr>
    </tbody>
 </table>

 <app-supplier-elem (addSupplier)='onAddSupplier($event)'> </app-supplier-elem>