<div>
  <button mat-raised-button color="primary" type="button" (click)="weekHistogram()">週</button>
  <button mat-raised-button color="primary" type="button" (click)="monthHistogram()">月</button>
  <button mat-raised-button color="primary" type="button" (click)="yearHistogram()">年</button>
  <mat-form-field class='date-picker'>
    <input matInput [matDatepicker]="fromPicker" placeholder="From" [(ngModel)]="pageSetting.from">
    <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
    <mat-datepicker #fromPicker></mat-datepicker>
  </mat-form-field>  
  <mat-form-field class='date-picker'>
    <input matInput [matDatepicker]="toPicker" placeholder="To" [(ngModel)]="pageSetting.to">
    <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
    <mat-datepicker #toPicker></mat-datepicker>
  </mat-form-field>
  <button mat-icon-button *ngIf="pageSetting.from && pageSetting.to" color="primary" type="button" (click)="onQueryByTimeSlot()">
    <mat-icon color="primary">search</mat-icon>
  </button>  
</div>
<div>
  <mat-select [(ngModel)]="pageSetting.group" (selectionChange) = 'onFormatChanged()' style='width:200px'>
    <mat-option *ngFor="let g of groups" [value]="g.type">
      {{ g.name }}
    </mat-option>
  </mat-select>    
  <mat-select [(ngModel)]="pageSetting.formatType" (selectionChange) = 'onFormatChanged()' style='width:200px'>
    <mat-option *ngFor="let f of formats" [value]="f.type">
      {{ f.name }}
    </mat-option>
  </mat-select>  
</div>
<div [style.width.px]="barSetting.view[0]" [style.height.px]="barSetting.view[1]">
  <ngx-charts-bar-vertical-stacked
    [view]="barSetting.view"
    [scheme]="colorScheme"
    [results]="barData"
    [gradient]="barSetting.gradient"
    [xAxis]="barSetting.showXAxis"
    [yAxis]="barSetting.showYAxis"
    [legend]="barSetting.showLegend"
    [showXAxisLabel]="barSetting.showXAxisLabel"
    [showYAxisLabel]="barSetting.showYAxisLabel"
    [xAxisLabel]="barSetting.xAxisLabel"
    [yAxisLabel]="barSetting.yAxisLabel"
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical-stacked>
</div>
<div>
  <p class="pie-title">供應商</p>
  <div [class.div-horizontal]="pieSetting.isHori" [style.height.px]="pieSetting.view[1]">
    <ngx-charts-pie-chart
      [view]="pieSetting.view"
      [scheme]="colorScheme"
      [results]="pieData['supplier']['revenue']"
      [legend]="pieSetting.legend"
      [explodeSlices]="pieSetting.explodeSlices"
      [labels]="pieSetting.labels"
      [doughnut]="pieSetting.doughnut"
      [gradient]="pieSetting.gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <div class="pie-subtitle">營收</div>
  </div>
  <div [class.div-horizontal]="pieSetting.isHori">
    <ngx-charts-pie-chart
      [view]="pieSetting.view"
      [scheme]="colorScheme"
      [results]="pieData['supplier']['profit']"
      [legend]="pieSetting.legend"
      [explodeSlices]="pieSetting.explodeSlices"
      [labels]="pieSetting.labels"
      [doughnut]="pieSetting.doughnut"
      [gradient]="pieSetting.gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <div class="pie-subtitle">毛利</div>
  </div>
</div>  
<div>
  <p class="pie-title">分類</p>
  <div [class.div-horizontal]="pieSetting.isHori" [style.height.px]="pieSetting.view[1]">  
    <ngx-charts-pie-chart [class.div-horizontal]="pieSetting.isHori"
      [view]="pieSetting.view"
      [scheme]="colorScheme"
      [results]="pieData['category']['revenue']"
      [legend]="pieSetting.legend"
      [explodeSlices]="pieSetting.explodeSlices"
      [labels]="pieSetting.labels"
      [doughnut]="pieSetting.doughnut"
      [gradient]="pieSetting.gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <div class="pie-subtitle">營收</div>
  </div>
  <div [class.div-horizontal]="pieSetting.isHori">
    <ngx-charts-pie-chart [class.div-horizontal]="pieSetting.isHori"
      [view]="pieSetting.view"
      [scheme]="colorScheme"
      [results]="pieData['category']['profit']"
      [legend]="pieSetting.legend"
      [explodeSlices]="pieSetting.explodeSlices"
      [labels]="pieSetting.labels"
      [doughnut]="pieSetting.doughnut"
      [gradient]="pieSetting.gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <div class="pie-subtitle">毛利</div>
  </div>
</div>  
