<form (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <input type="text" name="code" matInput placeholder="Code" [(ngModel)]="newItem.code" required/>
      <mat-hint>Enter the bar code</mat-hint>
    </mat-form-field>
    <button mat-button color="primary" class="btn" (click)="onScan()">
        <mat-icon color="primary">camera</mat-icon>
    </button>
  </div>

  <div>
    <mat-form-field>
      <input type="text" name="name" matInput placeholder="Name" [(ngModel)]="newItem.name"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="text" name="pic" matInput placeholder="Picture" [(ngModel)]="newItem.pic"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select [(ngModel)]="newItem.supplierID" placeholder="Supplier" required name="supplierID">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
          {{ supplier.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="text" name="category" matInput placeholder="Category" [(ngModel)]="newItem.category" required/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="text" name="size" matInput placeholder="Size" [(ngModel)]="newItem.size" required/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="number" name="cost" matInput placeholder="Cost" [(ngModel)]="newItem.cost" required/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="number" name="listPrice" matInput placeholder="List Price" [(ngModel)]="newItem.listPrice" required/>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <input type="number" name="marketPrice" matInput placeholder="Market Price" [(ngModel)]="newItem.marketPrice" required/>
    </mat-form-field>
  </div>
  <div>
    <button mat-button type="submit">Submit</button>
  </div>
</form>
