.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.field {
  width: 230px
}

.center-done-btn {
  margin: auto;
  width: 50%
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-footer-cell {
  display:flex;
  justify-content:center;
  font-weight: bold;
}