<div class="center">
  <div>
    <button mat-icon-button color="primary" type="button" (click)="onBack()">
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
  </div>  
  <form (ngSubmit)="onSubmit()" >
    <div>
      <mat-form-field class="field">
        <input type="text" name="code" matInput placeholder="Code" [(ngModel)]="newItem.code" required/>
      </mat-form-field>
      <button mat-icon-button color="primary" class="btn" (click)="onScan()" type="button">
          <mat-icon color="primary">camera</mat-icon>
      </button>
    </div>

    <div>
      <mat-form-field class="field">
        <input type="text" name="name" matInput placeholder="Name" [(ngModel)]="newItem.name"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="field">
        <input type="text" name="pic" matInput placeholder="Picture" [(ngModel)]="newItem.pic"/>
        <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png"> -->
      </mat-form-field>
      <!-- <label class="upload-button">
        <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
      </label> -->
      <input style="display:none" id="input-file-id" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"/>
      <label for="input-file-id" class="mat-icon-button" color="primary">
        <mat-icon color="primary">add_photo_alternate</mat-icon>
      </label>
      <!-- <button mat-icon-button color="primary" class="btn" (change)="onSelectFile()" type="button">
          <mat-icon color="primary">add_photo_alternate</mat-icon>
      </button> -->
      <!-- <button mat-icon-button color="primary" (click)="onOpenCamera()" type="button">
          <mat-icon color="primary">add_a_photo</mat-icon>
      </button>         -->
    </div>

    <div>
      <mat-form-field class="field">
        <mat-select [(ngModel)]="newItem.supplierID" placeholder="Supplier" required name="supplierID">
          <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
            {{ supplier.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="field">
        <mat-select [(ngModel)]="newItem.category" placeholder="Category" required name="category">
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>      
    </div>

    <div>
      <mat-form-field class="field">
        <mat-select [(ngModel)]="newItem.size" placeholder="Size" required name="size">
          <mat-option *ngFor="let size of sizes" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>      
    </div>

    <div>
      <mat-form-field class="field">
        <input type="number" name="cost" matInput placeholder="Cost" [(ngModel)]="newItem.cost" required/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="field">
        <input type="number" name="listPrice" matInput placeholder="List Price" [(ngModel)]="newItem.listPrice" required/>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field class="field">
        <input type="number" name="marketPrice" matInput placeholder="Market Price" [(ngModel)]="newItem.marketPrice" required/>
      </mat-form-field>
    </div>
    <button mat-icon-button color="primary" type="submit" class="center-done-btn">
      <!-- <mat-icon color="primary">done</mat-icon> -->
      新增
    </button>    
  </form>
</div>