<div>
  <input type="text" name="code" matInput placeholder="條碼" [(ngModel)]="saleItem.code" style="width: 200px"/>
  <button mat-icon-button color="primary" (click)="onScan()" type="button">
    <mat-icon color="primary">camera</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="onSelectItem()" type="button">
      <mat-icon color="primary">list</mat-icon>
  </button>  
  <button mat-icon-button color="primary" (click)="onAddItem()" type="button">
    <mat-icon color="primary">add_shopping_cart</mat-icon>
</button>    
</div>

<mat-table [dataSource]="itemDataSource">
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>條碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.code }}</mat-cell>
    <mat-footer-cell *matFooterCellDef> 總計 </mat-footer-cell>
  </ng-container>  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>售價</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.marketPrice | number:'1.0-0'}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalPrice() | number:'1.0-0'}} </mat-footer-cell>
  </ng-container>  
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>數量</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <input type="number" name="quantity" matInput placeholder="Quantity" [(ngModel)]="row.quantity" class="input-number" (input)='onQunatitychanged($event.target.value)'/>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{ getTotalQuantity() }}</mat-footer-cell>
  </ng-container>    
  <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="warn" (click)="deleteItem(row)">
          <mat-icon color="primary">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <!-- <input type="number" name="pay" matInput placeholder="Discount" [(ngModel)]="pay" class="input-number"/> -->
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </mat-footer-cell>
    </ng-container>  
  <mat-header-row *matHeaderRowDef="['code', 'name', 'price', 'quantity', 'management']"></mat-header-row>
  <mat-footer-row *matFooterRowDef="['code', 'name', 'price', 'quantity', 'management']"></mat-footer-row>
  <mat-row *matRowDef="let categoryRow; columns: ['code', 'name', 'price', 'quantity', 'management']"></mat-row>
</mat-table>
<div>
  <p class="input-name">付款：</p>
  <input type="number" name="pay" [(ngModel)]="receipt.pay"/>
</div>
<div>
  <p class="input-name">付款方試：</p>
  <mat-form-field class="field">
    <mat-select [(ngModel)]="receipt.payBy" required name="payBy">
      <mat-option *ngFor="let type of payBy" [value]="type.key">
        {{ type.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>        
</div>
<div>
  <mat-form-field class='date-picker'>
    <input matInput [matDatepicker]="datePicker" placeholder="日期" [(ngModel)]="saleDate">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>  
</div>
<div>
  <p class="input-name">備注:</p>
  <input type="text" name="remark" [(ngModel)]="receipt.remark"/>
</div>
<div>
  <button *ngIf="receipt.pay > 0" mat-raised-button color="primary" (click)="onSubmit()" type="button">
    新增
  </button>
</div>