<div>
  <input type="text" name="code" matInput placeholder="Code" [(ngModel)]="saleItem.code" style="width: 200px"/>
  <button mat-icon-button color="primary" (click)="onScan()" type="button">
    <mat-icon color="primary">camera</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="onAddItem()" type="button">
      <mat-icon color="primary">add_shopping_cart</mat-icon>
  </button>  
</div>

<mat-table [dataSource]="itemDataSource">
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.code }}</mat-cell>
    <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
  </ng-container>  
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.marketPrice | number:'1.0-0'}} </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{getTotalCost() | number:'1.0-0'}} </mat-footer-cell>
  </ng-container>  
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <input type="number" name="quantity" matInput placeholder="Quantity" [(ngModel)]="row.quantity" class="input-number"/>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef> {{ getTotalQuantity() }}</mat-footer-cell>
  </ng-container>    
  <ng-container matColumnDef="management">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="warn" (click)="deleteItem(row)">
          <mat-icon color="primary">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <!-- <input type="number" name="pay" matInput placeholder="Discount" [(ngModel)]="pay" class="input-number"/> -->
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </mat-footer-cell>
    </ng-container>  
  <mat-header-row *matHeaderRowDef="['code', 'name', 'price', 'quantity', 'management']"></mat-header-row>
  <mat-footer-row *matFooterRowDef="['code', 'name', 'price', 'quantity', 'management']"></mat-footer-row>
  <mat-row *matRowDef="let categoryRow; columns: ['code', 'name', 'price', 'quantity', 'management']"></mat-row>
</mat-table>
<div>
  付款：
  <input type="number" name="pay" placeholder="Discount" [(ngModel)]="receipt.pay"/>
</div>
<div>
  <mat-form-field class="field">
    <mat-select [(ngModel)]="receipt.payBy" placeholder="Pay By" required name="payBy">
      <mat-option *ngFor="let type of payBy" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>        
</div>
<div>
  <input type="text" name="remark" placeholder="Remark" [(ngModel)]="pay"/>  
</div>
<div>
  <button *ngIf="receipt.pay > 0" mat-icon-button color="primary" (click)="onSubmit()" type="button">
    Submit
  </button>  
</div>