<div class="container">

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="newSupplier.name" name="name" required>
    </div>

    <div>
      <label for="type">Select Type</label>
      <select [(ngModel)]="newSupplier.type" name = "type" >
          <option value="CONSIGNMENT">寄買</option>
          <option value="BUYOUT">賣斷</option>
      </select>
    </div>

    <div>
      <label for="shareRate">Share Rate</label>
      <input type="number" [(ngModel)]="newSupplier.shareRate" name="shareRate" required>
    </div>

    <button type="submit">Submit</button>

  </form>
</div>