.center {
  margin: auto;
  padding: 10px;
  width: 15%
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-footer-cell {
  display:flex;
  justify-content:center;
  font-weight: bold;
}

.input-name{
  display: inline-block;
  width: 100px
}