.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
  
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-footer-cell {
  display:flex;
  justify-content:center;
  font-weight: bold;
}

.input-number {
  width: 80%; 
  text-align: center
}

.input-name{
  display: inline-block;
  width: 100px
}