<div>
	<input type="text" name="code" matInput placeholder="Code" [(ngModel)]="item.code" style="width: 200px"/>
	<button mat-icon-button color="primary" (click)="onScan()" type="button">
		<mat-icon color="primary">camera</mat-icon>
	</button>
  <button mat-icon-button color="primary" (click)="onSelectItem()" type="button">
		<mat-icon color="primary">list</mat-icon>
	</button>  	
	<button mat-icon-button color="primary" (click)="queryItem()" type="button">
		<mat-icon color="primary">search</mat-icon>
	</button>
</div>
<div class="list">
	<mat-list>
		<mat-list-item>
			<h4 class="field-name">Code:</h4>{{item.code}}
		</mat-list-item>
		<mat-list-item>
			<h4 class="field-name">Name:</h4>{{item.name}}
		</mat-list-item>
		<mat-list-item>
			<h4 class="field-name">Supplier:</h4>{{item.supplierID.name}}
		</mat-list-item>
		<mat-list-item>
			<h4 class="field-name">Category:</h4>{{item.category}}
		</mat-list-item>
		<mat-list-item>
			<h4 class="field-name">Size:</h4>{{item.size}}
		</mat-list-item>
		<mat-list-item>
			<h4 class="field-name">Stock:</h4>{{item.stock}}
		</mat-list-item>	
	</mat-list>
</div>

<div>

	<!-- <p class="input-name">備注</p>
	<input type="text" name="remark" placeholder="Remark" [(ngModel)]="receipt.remark"/>   -->

	<p class="field-name">進貨 </p>
	<input type="number" name="newStock" placeholder="quantity" [(ngModel)]="quantity" style="width: 100px"/>
	<button mat-icon-button color="primary" (click)="stockItem()" type="button">
		<mat-icon color="primary">add_shopping_cart</mat-icon>
	</button>	
</div>