.center {
  margin: auto;
  padding: 10px;
  width: 15%
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
  
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

