.center {
  margin: auto;
  padding: 10px;
  width: 15%
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

mat-table{
  margin: auto;
  padding: 10px;
  min-width: 100px;
}

.input-name{
  display: inline-block;
  width: 100px
}

.filter-block{
  display: inline-block
}