.mat.column-shareRate{
  text-align: right;
  max-width: 30px;
}

.center{
  margin: auto;
}

mat-cell{
  display:flex !important;
  justify-content:center!important;
  
}

mat-header-cell {
  display:flex;
  justify-content:center;
}

