<div class="center">
  <div>
    <button mat-icon-button color="primary" type="button" (click)="onBack()">
      <mat-icon color="primary">arrow_back</mat-icon>
    </button>
  </div>
  <input style="display:none" id="input-file-id" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput"/>  
  <label for="input-file-id">
      <img src={{item.pic}} height="300px" class='center-pic'/>    
  </label>
  <!-- <img src={{item.pic}} height="300px" class='center-pic' for="input-file-id"/> -->
  <mat-list>
    <mat-list-item>
      <h4 class="field-name">建立日期:</h4>{{createDate}}
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">條碼:</h4>{{item.code}}
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">名稱:</h4>
      <input type="text" name="name" [(ngModel)]="item.name"/>
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">供應商:</h4>
      <mat-select [(ngModel)]="item.supplierID._id" placeholder="供應商" required name="supplierID" class="field-value">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier._id">
          {{ supplier.name }}
        </mat-option>
      </mat-select>      
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">分類:</h4>
      <mat-select [(ngModel)]="item.category" placeholder="分類" required name="category" class="field-value">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>          
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">尺吋:</h4>
      <mat-select [(ngModel)]="item.size" placeholder="尺吋" required name="size" class="field-value">
        <mat-option *ngFor="let size of sizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>      
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">牌價:</h4>
      <input type="number" name="listPrice" matInput placeholder="牌價" [(ngModel)]="item.listPrice" required class="field-value"/>
    </mat-list-item>    
    <mat-list-item>
      <h4 class="field-name">成本:</h4>
      <input type="number" name="cost" matInput placeholder="成本" [(ngModel)]="item.cost" required class="field-value"/>
    </mat-list-item>
    <mat-list-item>
      <h4 class="field-name">售價:</h4>
      <input type="number" name="marketPrice" matInput placeholder="售價" [(ngModel)]="item.marketPrice" required class="field-value"/>
    </mat-list-item>  
    <mat-list-item>
      <h4 class="field-name">庫存:</h4>
      <input type="number" name="stock" matInput placeholder="庫存" [(ngModel)]="item.stock" required class="field-value"/>
    </mat-list-item>	
  </mat-list>
  <button mat-raised-button color="primary" type="botton" (click)="onChange()">
    修改
  </button>          
</div>

